body {
    background: #EBEBEB;

}


h2 {
    text-align: center;
    background: #58A69E;
    padding: 20px;
    color: white;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background: white;
    

}

.lineRight {
    border-right-style: inset;
    border-right-color:  #EBEBEB;
    border-right-width: 1px;

}